html{width: 100%;height: 100%;font-size: 32px;}
body{width: 95%;height: 100%;min-width: 25rem; background-color: #F6F6F6}
#f_head{
    width: 100%;
    height: 2.5rem;
    font-size: 0.7rem;
    color: rgba(255,255,255,0.7);
    background-color: #0081FF;
}
#f_head h3{
    line-height: 1.5rem;
    padding-left: 1rem;
}
#f_head h6{
    font-size: 0.5rem;
    line-height: 1rem;
    padding-left: 1.3rem;
}
#f_wrap{
    width: 100%;
    height: 17rem;
    padding: 0.5rem 0 0;
    overflow: hidden;
}
#f_wrap>div{
    height: 100%;
    border-radius: 0.3rem;
    border: 0.1rem solid #ccc;
    box-shadow: 0.1rem -0.1rem 0.05rem 0.04rem #ddd;
}
#f_wrap .fw_left{
    float: left;
    width: 25%;
    background-color: white;
}
#f_wrap .fw_right{
    float: right;
    width: 73%;
    margin-right: 0.2rem;
}
.fw_left .fwl_html{
    width: 100%;
    height: 16rem;
    margin: 0.3rem auto 0;
    padding: 1rem 0.25rem 0.25rem;
    position: relative;
}
.fwl_head{
    font-size: 0.5rem;
    height: 0.75rem;
    line-height: 0.75rem;
    font-weight: bolder;
    padding-left: 0.1rem;
    position: absolute;
    left:0.25rem;
    top:0.25rem;
    right: 0.25rem;
}
#f_wrap .fwl_con{
    font-size: 0.5rem;
    height: 0.75rem;
    line-height: 0.75rem;
    padding-left: 0.1rem;
    margin-top: 0.1rem;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    background-color: #F6F6F6;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#f_wrap .fwl_con:hover{
    font-weight: bolder;
}
#f_wrap .select{
    font-weight: bolder;
    background-color: #A6E22E;
    color: white;
}

iframe{
    width: 100%;
    height: 100%;
}